{% extends 'mantenedor/mantenedor.html' %}

{%load static%}

{%block title%}
<title>Mantenedor: Usuarios</title>

{%endblock%}

{% block content %}
<div class="mb-0">
    <div class="d-flex align-items-center p-3 text-white bg-purple rounded shadow-sm ">
        <i class="bi bi-people align-text-bottom" style="font-size: 3rem;"></i>
        <div class="lh-1">
            <h1 class="h2 mb-0 text-white lh-1">&nbsp;Lista de usuarios</h1>
        </div>
    </div>

    <div class="m-3 mb-1">
        <a href="{% url 'cargar_formulario_usuario' %}" class="btn btn-primary btn-lg">Agregar usuarios</a>&nbsp;
        <a href="{% url 'cargar_formulario_admin' %}" class="btn btn-warning btn-lg" type="button">Agregar
            administradores</a>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm border">
        <table class="table table-borderless table-hover table-sm" style="font-family: 'Work Sans', sans-serif;">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Es admin</th>
                    <th scope="col" class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for u in usuarios%}
                <tr>
                    <th scope="row">{{u.id}}</th>
                    <td style="text-transform:capitalize ;">{{u.username}}</td>
                    <td>{{u.first_name}}</td>
                    <td>{{u.last_name}}</td>
                    <td>{{u.email}}</td>
                    <td>
                        {% if u.is_staff == True %}
                        <i class="bi bi-check2-all" style="color: green;"></i>
                        {% else%}
                        <i class="bi bi-x" style="color: red;"></i>
                        {%endif%}
                    </td>
                    <td class="text-center">
                        <a href="{% url 'editar_usuario' u.id %}" class="btn btn-secondary btn-sm rounded-circle"><i
                                class="bi bi-pencil-square"></i></a>
                    </td>
                </tr>
                {%endfor%}

            </tbody>
        </table>


    </div>
</div>

{% if accion == "form_add" %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <div id="cuadro2">
                        <div class="table-wrapper">
                            <div class="col-sm-12" align="right">
                                <a class="add btn btn-secondary" title="Ver datos en tabla" data-toggle="tooltip"
                                    href="{% url 'usuarios' %}">
                                    Volver
                                </a>
                            </div>
                            <h3>Datos del usuario</h3>

                            <form role="form" enctype="multipart/form-data" action="" method="POST" novalidate>
                                {% csrf_token %}
                                {%load crispy_forms_tags%}
                                <table>
                                    {{ form | crispy }}
                                </table>
                                <input class="btn btn-primary" type="submit" value="Enviar">

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}




{% if accion == "form_edit" %}
<div class="card shadow">
    <div class="card-body">
        <div id="cuadro3">
            <div class="table-wrapper">
                <div class="col-sm-12" align="right">
                    <a class="add btn btn-danger" title="Ver datos en tabla" data-toggle="tooltip"
                        href="{% url 'usuarios' %}">
                        Cerrar
                    </a>
                </div>
                <h3>Datos del Usuario</h3>

                <form role="form" enctype="multipart/form-data" action="" method="POST" novalidate>
                    {% csrf_token %}
                    {%load crispy_forms_tags%}
                    <table>
                        {{ form | crispy }}
                        <input type="hidden" name="id_persona" value="{{form.id_persona}}">
                    </table>
                    <br>
                    <input class="btn btn-primary" type="submit" value="Actualizar">

                </form>
                <br>

            </div>
        </div>
    </div>
</div>
{% endif %}
<br>

<div id="idMensajes">

    {% if mensaje%}

    <div class="alert alert-success m-4" role="alert">
        {{mensaje}}
    </div>
    {% endif %}

</div>

{%endblock%}